h1{
  background-color: brown;
  color: lightcyan;
  padding: 5px;
  font-weight: normal;
  text-align: center;
  font-size: 35px;
  border-bottom: 5px solid black
}
h1{
  font-family: URW Chancery L,cursive;
}
h2{
  background-color: greenyellow;
  color:brown;
  padding: 5px;
  border-left:5px solid blue;
  font-weight: lighter;
  text-align: center;
  font-family: American Typewriter, serif;
}
p{
  font-size: 20px;
  line-height: 1em;
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
}
p.first-p{
  font-style: italic;
}
main{
  max-width: 650px;
}
body{
  border: 10px solid orange;
  padding: 5px
}
body{
  margin: auto;
}

